In [1]:
import pandas as pd 
import numpy as np
import math

In [3]:
df = pd.read_table('/home/v-tyan/Time_Series_Survey/datasets/UCRArchive_2018/ACSF1/ACSF1_TRAIN.tsv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460
0,9,-0.584754,-0.584754,1.730991,-0.584754,-0.584754,-0.584754,1.729917,-0.584754,-0.584754,...,1.732726,-0.584734,-0.583729,-0.578603,1.732726,-0.584734,-0.583729,-0.578603,1.732726,-0.584734
1,9,-0.591434,-0.511104,1.726820,-0.580422,-0.591434,-0.511104,1.727921,-0.580422,-0.591434,...,1.727396,-0.580731,-0.580731,-0.580731,1.727396,-0.580731,-0.580731,-0.580731,1.727396,-0.580731
2,9,-0.577945,-0.577945,1.730793,-0.577945,-0.578946,-0.564882,1.731094,-0.577829,-0.580956,...,1.734727,-0.577751,-0.580956,-0.549798,1.734727,-0.577751,-0.580956,-0.549798,1.734727,-0.577751
3,9,-0.588925,-0.538088,1.735718,-0.588716,-0.589962,-0.523551,1.735619,-0.588646,-0.588925,...,1.743664,-0.588876,-0.586852,-0.576483,1.743664,-0.588876,-0.586852,-0.576483,1.743664,-0.588876
4,9,-0.596633,-0.532188,1.718067,-0.592117,-0.596633,-0.532188,1.715241,-0.592117,-0.595605,...,1.743258,-0.592403,-0.591524,-0.575158,1.743258,-0.592403,-0.591524,-0.575158,1.743258,-0.592403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,-0.706092,-0.706092,1.619903,-0.706092,-0.706092,-0.706092,1.610364,-0.706092,-0.706092,...,1.621752,-0.702217,-0.956546,0.122643,1.621752,-0.702217,-0.956546,0.122643,1.621752,-0.702217
96,1,-0.634760,-0.634760,1.584916,-0.634760,-0.634760,-0.634760,1.581811,-0.634760,-0.634760,...,1.608606,-0.631032,-1.039049,0.085802,1.608606,-0.631032,-1.039049,0.085802,1.608606,-0.631032
97,1,-0.998277,0.102462,1.606925,-0.692702,-0.998277,0.104508,1.607083,-0.692692,-0.999305,...,1.563691,-0.692653,-0.991113,0.099389,1.563691,-0.692653,-0.991113,0.099389,1.563691,-0.692653
98,1,-0.941473,0.587214,1.523644,-0.645350,-0.938475,0.585218,1.530411,-0.645379,-0.941473,...,1.548224,-0.645292,-1.046250,0.582230,1.548224,-0.645292,-1.046250,0.582230,1.548224,-0.645292
99,1,-0.661536,-0.661536,1.510327,-0.661536,-0.661536,-0.661536,1.473648,-0.661536,-0.915802,...,1.510105,-0.660685,-0.851728,-0.660539,1.510105,-0.660685,-0.851728,-0.660539,1.510105,-0.660685

In [5]:
X, y = [], []
lookback_window = 50
for idx, row in df.iterrows():
    row = list(row)[1:]
    st = 0
    while st < 1000:
        X.append(row[st:st + lookback_window])
        y.append(row[st + lookback_window])
        st += 100
    # print(len(X))
X, y = np.array(X, dtype=float), np.array(y, dtype=float)
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/UCRArchive_2018/ACSF1/sample_X.txt', X)
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/UCRArchive_2018/ACSF1/sample_Y.txt', y)

In [9]:
df = pd.read_csv("/home/v-tyan/Time_Series_Survey/datasets/M4/Daily-train.csv", nrows=1000)
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V9911,V9912,V9913,V9914,V9915,V9916,V9917,V9918,V9919,V9920
0,D1,1017.10,1019.30,1017.00,1019.20,1018.70,1015.60,1018.50,1018.30,1018.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D2,2793.70,2793.80,2803.70,2805.80,2802.30,2795.00,2806.40,2782.20,2780.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D3,1091.30,1088.50,1085.70,1082.90,1080.10,1077.30,1074.50,1071.70,1068.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D4,1092.00,1078.00,1064.00,1050.00,1036.00,1022.00,1008.00,1092.00,1078.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D5,2938.63,2956.44,2964.41,2972.41,3014.97,3014.23,3024.08,3031.97,3062.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,D996,893.71,891.84,908.38,909.19,909.24,896.53,884.16,904.42,908.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,D997,828.80,823.67,840.97,848.47,845.92,844.13,833.09,849.55,856.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,D998,835.09,827.21,839.85,845.12,844.04,832.45,823.56,842.72,840.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,D999,872.98,872.89,886.41,891.84,888.31,882.35,874.09,894.65,900.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,D1000,815.67,816.35,829.27,834.03,833.63,825.72,816.12,839.09,845.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
X, y = [], []
lookback_window = 50
for idx, row in df.iterrows():
    row = list(row)[1:]
    st = 0
    while st < 5 and st + lookback_window + 1 <= len(row) and not math.isnan(row[st + lookback_window + 1 - 1]):
        X.append(row[st:st + lookback_window])
        y.append(row[st + lookback_window])
        st += 1
X, y = np.array(X, dtype=float), np.array(y, dtype=float)

In [73]:
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_X.txt', X)
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_y.txt', y)

In [7]:
X, y = [], []
lookback_window = 50
for idx, row in df.iterrows():
    row = list(row)[1:]
    st = 0
    while st < 25 and st + lookback_window + 1 <= len(row) and not math.isnan(row[st + lookback_window + 1 - 1]):
        X.append(row[st:st + lookback_window])
        y.append(row[st + lookback_window])
        st += 5
X, y = np.array(X, dtype=float), np.array(y, dtype=float)

In [8]:
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_1_X.txt', X)
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_1_y.txt', y)

In [10]:
X, y = [], []
lookback_window = 50
for idx, row in df.iterrows():
    row = list(row)[1:]
    st = 0
    while st < 1 and st + lookback_window + 1 <= len(row) and not math.isnan(row[st + lookback_window + 1 - 1]):
        X.append(row[st:st + lookback_window])
        y.append(row[st + lookback_window])
        st += 1
X, y = np.array(X, dtype=float), np.array(y, dtype=float)

In [12]:
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_2_X.txt', X)
np.savetxt('/home/v-tyan/Time_Series_Survey/datasets/M4/M4_sample_2_y.txt', y)